# This text is inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Default Config
## Should Include Protocol(http:// or https://)
BASE_URL=""
NODE_PORT=3000

# Cookie
## COOKIE_DOMAIN = "test.com"
COOKIE_DOMAIN = ""


# DATABASE_URL = "mysql://DB_USERNAME:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME"
DATABASE_URL = "mysql://dbmasteruser:angksehwjsqq@ls-712a3de0f216372c332622b5ed5c6f22fe2f67bd.cu0xyssgzj43.ap-northeast-2.rds.amazonaws.com:3306/Easy"
MAILDEV_USER = ""
MAILDEV_PASS = ""
MAILDEV_HOST = ""
MAILDEV_SERVICE = ""
TOKEN_SECRET = ""
REFRESH_TOKEN_SECRET = ""
FINDPASSWORD_TOKEN_SECRET = ""
GOOGLE_CLIENT_ID = ""
GOOGLE_CLIENT_SECRET = ""

# AWS .env Key Sample
AWS_s3_BUCKET_NAME = ""
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
AWS_DELETE_OBJECT_BUCKET = ""
AWS_REGION_KEY = ""
UPLOAD_STORAGE_OPTION = ""

# KAKAOTALK .env Key Sample
KAKAO_API_ID = ""
KAKAO_API_SERVICE_KEY = ""
