<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <form action="/sample1" method="POST">
      <%= message %><br/>
      <%= thisIsSample %>
      <input type="text" name="hello" placeholder="hhhh"/>
      <input type="text" name="hello2" placeholder="hhhh"/>
      <button type="submit">gogo</button>
    </form>
  </body>
</html>